/SmExtMethods/SMExtMethodsTest/obj
/SmExtMethods/SMExtMethodsTest/bin
/SmExtMethods/TestResults
/SmExtMethods/SmExtMethods/bin/Release
/SmExtMethods/SmExtMethods/bin/Debug
/SmExtMethods/SmExtMethods/bin
/SmExtMethods/SmExtMethods/obj
/SmExtMethods/*.suo
/SmExtMethods/SmExtMethods.suo
*.suo
